{% extends 'base.html' %}

{% block main %}
    <h2>Contact Form</h2>

    <hr>
    <p>Fill in this form to contact the site owners.</p>

    <form method="POST" action="{{ url_for('contact') }}">
        <div class="field-section">
            <div class="field-name"><p>{{ form.name.label }} <span id="required">(required)</span></p> </div>
            <p>Please enter your full name.</p> 
            <div class="field-input">{{ form.name}}</div>
        </div>
        <div class="field-section">
            <div class="field-name"><p>{{ form.email.label}} <span id="required">(required)</span></p> </div>
            <p>Please enter your e-mail address.</p> 
            <div class="field-input">{{ form.email }}</div>
        </div>
        <div class="field-section">
            <div class="field-name"><p>{{ form.subject.label }} <span id="required">(required)</span></p> </div>
            <p>Please enter the subject for your message.</p> 
            <div class="field-input">{{ form.subject(size=20) }}</div>
        </div>
        <div class="field-section">
            <div class="field-name"><p>{{ form.message.label }} <span id="required">(required)</span></p> </div>
            <p>Please enter the message you would like to send.</p> 
            <div id="message">{{ form.message}}</div>
            <br><br>
        </div>
        {{ form.csrf_token }}
        <button type="submit">Send</button>
    </form>
{% endblock %}